<header>
    <app-header></app-header>
</header>
<main>
    <app-hero-section />
    <app-about-me-section appViewCenter />

    <app-tech-stack-section appViewCenter />

    <app-contact-me-form appViewCenter />
</main>
<footer>
    <app-footer></app-footer>
</footer>

<!--

    TODO:
    Create a navbar with links to the site sections (of course responsible).
    Make the links in a way to be applicable from the outside (Template Outlet or ng-content)

    Create a footer with links to social media (similar logic to navbar - add links from the outside)

    All ui elements as components (not all, only the repetitive ones ;))

  -->
